html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
<<<<<<< HEAD
}

=======
}
>>>>>>> a80c7644f75ede78d6f33356cfae309531897b0a
